{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit{% else %}Create{% endif %} Collection - Food Recipes{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">
                    <i class="fas fa-folder"></i> 
                    {% if object %}Edit{% else %}Create{% endif %} Collection
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Save Collection</button>
                    <a href="{% url 'recipes:collection_list' %}" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}